/* ---------------------------------------------
 App - TO BE MOVED WHEN MAIN STYLING FINDS BETTER HOME
--------------------------------------------- */

.main {
  background: $colorLightest;
  margin: rhythm(6) 0 rhythm(50);
  box-shadow: 0 0 1.2rem rgba($colorDarkest, .5);
  padding-bottom: rhythm(3);
}