/* ---------------------------------------------
 Call to Action
--------------------------------------------- */

.callToAction {
  border-radius: $borderRadius;
  display: inline-block;
  height: rhythm(28);
  width: 100%;

  &_purple {
    background-image: linear-gradient(0deg, #9000FF 0%, #FF4FC9 100%);
  }
  
  &_blue {
    background-image: linear-gradient(0deg, #0DBEFF 0%, #0011FF 100%);
  }
}