/* ---------------------------------------------
 Call to Action
--------------------------------------------- */

.callToAction {
  border-radius: $borderRadius;
  display: inline-block;
  height: rhythm(28);
  width: 100%;

  &_purple {
    background-image: linear-gradient(0deg, #9000ff 0%, #ff4fc9 100%);
  }

  &_blue {
    background-image: linear-gradient(0deg, #0dbeff 0%, #0011ff 100%);
  }
}
